<!DOCTYPE html>
<html lang="en">
<head>
  <title>BlogKnockout</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="brand">BlogKnockout</a>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Blog", posts_path %></li>
      </ul>
    </div>
  </div>
  </div>
</div>

<div class="container">
  <%= yield %>

  <hr>

  <footer>
    <p>&copy; Devin Moss</p>
  </footer>
</div>

</body>
</html>
